.navbar{
	border: none;
	background: none;
}
#nav-line{
	margin: 0;
}
.expand{
	float: right;
}
#page-functions{
	padding-left: 0;
}
#page-functions li{
	display: inline;
}

ul{
	list-style: none;
}
.embedded-functions{
	float: right;
}

.danger{
	float: right;
}
