{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<style>
	.embedded-functions{
		float: right;
	}
</style>
<h1>All pages:</h1>
<br>
{% for i in all_pages %}

<ul>
	<li><h2>Title: {{ i.0 }} </h2></li>
	<div class = "embedded-functions">
		<a href = "#" class = "btn btn-primary">Edit</a>
		<a href = "#" class = "btn btn-primary">View</a>
		<a href = "#" class = "btn btn-danger">Delete</a>
	</div>
		<h3>Description: {{ i.1 }}</h3>
		<p>Last updated: {{ i.2 }}</p>
	<hr>
</ul>
{% endfor %}

{% endblock %}