{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<br>
{% for page in all_pages %}
	<h3>{{ page.title }} </h3>
	<div class = "embedded-functions">
		<a href = "{% url 'show' page.web_key %}" class = "btn btn-primary">Edit</a>
		<a href = "{% url 'run' page.web_key %}" class = "btn btn-primary">Run</a>
		<a href = "{% url 'copy' page.web_key %}" class = "btn btn-primary">Copy</a>
		<a href = "{% url 'delete' page.web_key %}" class = "btn btn-danger">Delete</a>
	</div>
	{% if page.description %}
	<h4>{{ page.description }}</h4>
	{% else %}
	<br/>
	{% endif %}
	<p>Last updated: {{ page.lastUpdated }}</p>
	<hr>
	
{% endfor %}

{% endblock %}