{% load bootstrap3 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% bootstrap_messages %}

<body style = "padding: 0 5% 5% 5%">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
	  data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">WebEdit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	
	<!-- Left side navbar -->
      <ul class="nav navbar-nav">
        <li><a href="#">Save</a></li>
        <li><a href="#">Run</a></li>
		<li><a href="#">Copy</a></li>
		<li><a href="#">Delete</a></li>
      </ul>
	  
	<!-- Right side navbar -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">My Pages</a></li>
		<li><a href="#">Sign in</a></li>
      </ul>
	  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<form id="pageForm" action ="" method="POST">
	{% csrf_token %}
	<div class = "form-group">
		{% bootstrap_field form.title %}
	</div>
	<div class = "form-group">
		{% bootstrap_field form.description %}
	</div>
	<p>Last updated: {{ p.lastUpdated }}</p>

<hr>

<div class = "form-group">
	{% bootstrap_label "HTML Head" label_for="form.htmlHead" %}
	{% bootstrap_field form.htmlHead show_label=False placeholder="" %}
</div>
<div class = "form-group">
	{% bootstrap_label "HTML Body" label_for="form.htmlBody" %}
	{% bootstrap_field form.htmlBody show_label=False placeholder="" %}
</div>
<div class = "form-group">
	{% bootstrap_label "CSS" label_for="form.css" %}
	{% bootstrap_field form.css show_label=False placeholder="" %}
</div>
<div class = "form-group">
	{% bootstrap_label "JavaScript" label_for="form.javascript" %}
	{% bootstrap_field form.javascript show_label=False placeholder="" %}
</div>


<input type = "submit" method="POST" value = "Save"/>
</form>

</body>
