{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<!-- everything that fits into the template -->

<script src="{% static 'pages/plugins/codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'pages/plugins/codemirror/mode/javascript/javascript.js' %}"></script>
<script type="text/javascript" src="{% static 'pages/plugins/codemirror/mode/xml/xml.js' %}"></script>
<script type="text/javascript" src="{% static 'pages/plugins/codemirror/mode/javascript/javascript.js' %}"></script>
<script type="text/javascript" src="{% static 'pages/plugins/codemirror/mode/css/css.js' %}"></script>

<form id="pageForm" action ="" method="POST">
	{% csrf_token %}
	
	<div class = "panel panel-default">
		<div class = "panel-body">
			{% bootstrap_button "Save" button_type="submit" button_class="btn btn-primary" extra_classes="save" %}
			{% if p %}
			<a href = "output/" class = "btn btn-primary">Run</a>
			{% else %}
			{% bootstrap_button "Run" button_type="submit" button_class="btn btn-primary" extra_classes="save before-run" %}
			{% endif %}
			<a href = "#" class = "btn btn-primary">Copy</a>
			{% if p %}
			<a href = "delete/" class = "btn btn-danger danger">Delete</a>
			{% endif %}
		</div>
	</div>
	
	<div id = "upper-form" class="panel panel-default">
		<div class = "panel-heading">Settings</div>
			<div class = "panel-body">
				{% bootstrap_label "Title" label_for="form.title" %}
				<br>
				{% bootstrap_field form.title show_label=False %}
		
				{% bootstrap_label "Description" label_for="form.description" %}
				<br>
				{% bootstrap_field form.description show_label=False %}
			
				{% bootstrap_label "Web key" label_for="form.web_key" %}
				<br>
				{% bootstrap_field form.web_key show_label=False %}
				
				{% bootstrap_field form.public show_label=False %}
				
				{% if p.lastUpdated != None %}
				<p>Last updated: {{ p.lastUpdated }}</p>
				{% endif %}
			</div>
	</div>
	</hr>
	</br>
	
	<div class = "panel panel-info">
		<div class = "panel-heading">
			{% bootstrap_label "HTML Head" label_for="form.htmlHead" %}
		</div>
		{{ form.htmlHead }}
	</div>
	</br>
	
	<div class = "panel panel-info">
		<div class = "panel-heading">
			{% bootstrap_label "HTML Body" label_for="form.htmlBody" %}
		</div>
		{{ form.htmlBody }}
	</div>
	</br>
	
	<div class = "panel panel-info">	
		<div class = "panel-heading">
			{% bootstrap_label "CSS" label_for="form.css" %}
		</div>
		{{ form.css }}
	</div>
	</br>
	
	<div class = "panel panel-info">	
		<div class = "panel-heading">
			{% bootstrap_label "JavaScript" label_for="form.javascript" %}
		</div>
		{{ form.javascript }}
	</div>
</form>
{% endblock %}
